@import "../../styles/colors.sass"

.home
    display: flex
    flex-direction: row
    align-items: stretch
    width: 100%
    height: 100vh

    & > *
        flex-grow: 1

.left
    background-color: $secondary-background
