@import '../../styles/colors'

.visualizer
    display: inline-block
    width: 100%
    height: 80%
    bottom: 0px
    background-color: #1277b0
    margin: 0px
    padding: 0px
    position: absolute


.wave
    margin: 0px
    padding: 0px
    bottom: calc(80% - 3px)
    position: absolute

.container
    width: 100%
    height: 100%
    position: relative
//padding: -10px
//margin: -10px